
.accordion .drop-btn {    
    font-size: 1rem;
    background-color: #ddd;
    width: 100%;
    padding: .75rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .1s;
}

.accordion .drop-btn:hover {
    background-color: hsl(45, 100%, 50%);
}

.accordion .drop-btn span {
    float: right;
    height: .5rem;
    width: .5rem;
    background-image: linear-gradient(to bottom right, transparent 50%, black 50%);
    transform: rotateZ(45deg);
}

.accordion .dropper {
    max-height: 0px;
    padding: 0rem;
    overflow: hidden;
    transition: .3s ease;
    background-color: #fff;
}

.accordion .dropper p {
    padding: 1rem;
}

